

.contact-form{
    border-radius: 5px;
    background-color:inherit;
    padding: 20px;
    max-width: 80%;
    margin-left: 8%;
    margin-top: 7%;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255, 48, 48);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color:rgb(224, 79, 69);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #ed6635;
  }
  

textarea{
    height:150px;
}

