

/* body {
    font-family: inter;
    width: 75%;
    margin: 0 auto;
    background-color: rgb(156, 170, 175);
} */

/* .all__news {
  margin: 30 px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 11px;
} */

